<div id="content">
        <div class="container w-25">
            <div class="row text-center">
                <h4>Login</h4>
            </div>
            <div class="row">
                <div class="col">
                    <form id="form-login">
                        <div class="mb-3">
                            <label for="">Usuario</label>
                            <input type="text" class="form-control mt-1" name="user" required>
                        </div>
                        <div class="mb-3">
                            <input type="submit" class="btn btn-success p-2 w-100" value="Ingresar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    